@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'primeicons/primeicons.css';
@import 'primeng/resources/themes/viva-light/theme.css';
@import 'primeng/resources/primeng.css';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-print-color-adjust: exact;
}

body {
  @apply bg-gray-100;
}
